<% provide(:title, " Home Page") %>
<script type="text/javascript">

$(function (){ 

    $(".projectView").on("mouseenter", function(){
      $(this).css('cursor','pointer');
        var row = $(this)[0].children[0].innerHTML;
        var rowText = $(this)[0].children[3].innerHTML;
        $('.showDescription').find('#headerText').val("");
        $('.showDescription').find('#bodyText').val("");
        $('.showDescription').find('#headerText').text(row);
        $('.showDescription').find('#bodyText').text(rowText);
    });
    $(".projectView").on("mouseout", function(){
        $('.showDescription').find('#headerText').val("");
        $('.showDescription').find('#bodyText').val("");

    })



});

</script>



<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div class="hero-unit text-center well homeBackground">
        <h1>Project Monitor</h1>
        <p>Over time, i  realized the need to document my progress in software development. I usually write or draw my ideas on paper, which eventually will be thrown away. While its not an issue, i noticed a trend, i couldn't monitor my progress. This web app was created to monitor my progress on just about any project i embark on, basically its for web development though. With this app i can easily create a todo list whenever i remember a feature and can monitor the progress of each app.</p>
        <%= link_to 'Create New Project', new_project_path, :class => 'btn btn-info btn-xs', remote: true  %>
      </div>

</div>
<div class="row">

  <div class="projectsList">
    <%= render :partial => 'projectList', :locals => { :projects => @projects } %>
  </div>
  
  <div class="col-md-4 ">
  <div class="text-center homeBackground  allProjects">
        <h3>Project Preview</h3>
      </div>
      <div class="well showDescription">
        <div id="headerText"></div>
    <div id="bodyText"></div>

      </div>
  	
  </div>
<div id="myModal" class="modal fade" role="dialog"></div>

</div>
