<% provide(:title, " Home Page") %>
<script type="text/javascript">

$(function (){ 

    $(".projectView").on("mouseenter", function(){
      $(this).css('cursor','pointer');
        var row = $(this)[0].children[0].innerHTML;
        var rowText = $(this)[0].children[3].innerHTML;
        $('.showDescription').find('#headerText').val("");
        $('.showDescription').find('#bodyText').val("");
        $('.showDescription').find('#headerText').text(row);
        $('.showDescription').find('#bodyText').text(rowText);
    })


});

</script>



<p id="notice"><%= notice %></p>
<div class="row">
  <div class="hero-unit text-center well homeBackground">
        <h1>Project Monitor</h1>
        <p>This is a simple app created, so i can monitor the progress of my web application development. with this app i can easily create a todo list wheneven i remeber and i can monitor the progress of each app.</p>
        <%= link_to 'Create New Project', new_project_path, :class => 'btn btn-info btn-xs', remote: true  %>
      </div>

</div>
<div class="row">

  <div class="projectsList">
    <%= render :partial => 'projectList', :locals => { :projects => @projects } %>
  </div>
  <div class="col-md-3 well showDescription col-md-offset-1">
  	<div id="headerText"></div>
  	<div id="bodyText"></div>
  </div>
<div id="myModal" class="modal fade" role="dialog"></div>

</div>
